<ul class="students-criteria">
  <li><%= link_to "Dormitory", dormitory_url %></li>
  <li><%= link_to "Teachers", teachers_url %></li>
  <li><%= link_to "Student from Pedagogical", pedagogical_school_url %></li>
  <li><%= link_to "Language Groups", language_groups_url %></li>
</ul>