<h1>All Students</h1>

<div class='button-new' style="justify-content: flex-end">
<%= link_to  new_student_path do%>
  <p>Add student</p>
<%end%>
</div>

<%= render "list", article: @students %>

<%= render "footer"%>