<h1>Language groups</h1>
<div class="wrap-info">
    <ul class="student-info">
      <% @languages.each do |language| %>
        <li>
          <%= link_to language.second_language, language_group_path(:language => language.second_language) %>
        </li>
      <% end %>
    </ul>
</div>
<div class='button-new'>
  <%= link_to  "/students" do%>
    <p>Back</p>
  <%end%>
</div>

<%= render "footer"%>