<h1>All Student that know <%= @language %> </h1>

<%= render "list", students: @students %>

<div class='button-new'>
  <%= link_to  language_groups_url do%>
    <p>Back</p>
  <%end%>
</div>

<%= render "footer"%>