<h1>All Student that have Teaching Experience more than 2 years</h1>

<%= render "list", article: @students %>

<div class='button-new'>
  <%= link_to  "/students" do%>
    <p>Back</p>
  <%end%>
</div>

<%= render "footer"%>